/.idea
/.venv
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
.mypy_cache/
.vscode/
/Backend/db.sqlite3
/Backend/.env
